
@media screen and (max-width: 1170px) {
	
	#wrapper .container{
	width:880px;
	}
		.slider_img{
		width:520px;
		overflow:hidden;
		}
		.category_block{
		text-align:center;
		}
		.subscribe_text{
		font-size:13px;
		}
		.subscribe_form input[type=text]{
		width:270px;
		}
		.news_item{
		padding-bottom:25px;
		}
			.foot_contacts span{
			display:block;
			}
				.foot_contacts b{
				font-size:17px;
				}
	.gallery_modal{
	width:auto;
	}
		.gallery_modal figure img{
		width:100%;
		}
	.gallery_block a{
	width:100%;
	height:auto;
	}
		.gallery_block a img{
		width:100%;
		}
}
@media screen and (max-width: 900px) {
	#wrapper .container{
	width:688px;
	}
		.head_top{
		display:none;
		}
		.logo_wrap{
		margin-top:0;
		padding-top:16px;
		padding-left:0;
		padding-right:0;
		background-image: -webkit-linear-gradient(bottom, white 0%, #efe8e4 100%);
		background-image: linear-gradient(to top, white 0%, #efe8e4 100%);
		}
	
	.head_nav{
	background:#a41608;
	margin-top:25px;
	}
		.head_nav .container{
		width:auto;
		padding:0;
		}
		.main_menu{
		padding-top:0;
		border:none;
		}
			.main_menu .menu{
			display:none;
			}
				.main_menu ul li{
				display:block;
				width:100%;
				background:#ad1709;
				border-top:1px solid #b9422a;
				}
					.main_menu ul li a{
					color:#fbf9f8;
					font-size:20px;
					height:45px;
					text-transform:uppercase;
					font-family:'Scada';
					}
						.main_menu ul li a:before{
						display:none;
						}
		.menu_trigger{
		text-align:center;
		color:#fbf9f8;
		font-size:20px;
		text-transform:uppercase;
		font-family:'Scada';
		padding:16px 0;
		display:block;
		}
			.menu_trigger img{
			padding:0 8px 0 0;
			}
		.search_nav{
		background:#ad1709;
		border-top:1px solid #b9422a;
		display:block;
		font-size:0;
		height:43px;
		}
			.search{
			height:43px;
			width:322px;
			display:inline-block;
			position:relative;
			vertical-align:top;
			}
				.search input[type=text]{
				height:43px;
				background:#fff;
				border:none;
				font-family:'Roboto';
				font-size:15px;
				color:#a59d9a;
				text-transform:uppercase;
				text-indent:13px;
				width:322px;
				}
				.search input[type=submit]{
				background:url(../img/search.png) no-repeat;
				width:20px;
				height:20px;
				position:absolute;
				right:10px;
				top:10px;
				border:none;
				cursor:pointer;
				z-index:2;
				}
			.search_nav nav{
			display:inline-block;
			vertical-align:top;
			font-size:0;
			}
				.search_nav nav a{
				width:42px;
				height:43px;
				border-left:1px solid #ad1709;
				background:#bf1808;
				display:inline-block;
				vertical-align:top;
				line-height:43px;
				font-size:14px;
				text-transform:uppercase;
				color:#eeaa87;
				}
				.search_nav nav a.active, .search_nav nav a:hover{
				color:#fff;
				background:#cd1807;
				text-decoration:none;
				}
	.slider_img{
	width:400px;
	}
		.slider_text{
		width:310px;
		}
			.slider_text p{
			width:auto;
			}
	.category_box{
	width:49.5%;
	margin:0.2.5%;
	height:auto;
	}
		.category_item{
		height:auto;
		width:auto;
		}
			.category_item img{
			width:100%;
			}
	.subscribe_text{
	font-size:16px;
	}
		.foot_contacts strong{
		display:block;
		padding-left:20px;
		}
	footer .main_menu{
	display:none;
	}
	.foot_bottom{
	padding-top:18px;
	}
	.slider_wrap{
	margin-top:0;
	}
	.categories_items {
	text-align:center;
	}
		.categories_items a{
		width:33%;
		}

	.fancybox-prev {
		left: -10px;
	}
	.fancybox-next {
		right: -10px;
	}
}

@media screen and (max-width: 767px) {
	#wrapper .container{
	width:auto;
	}
		.slogan{
		position:static;
		display:inline-block;
		margin:17px 0 0 0;
		}
		.slider_img{
		display:none;
		}
		.slider_text{
		margin:0 auto;
		width:auto;
		max-width: 320px;
		text-align:center;
		}
			.category_box{
			width:100%;
			}
		.benefits_wrap{
		height:auto;
		padding-bottom:50px;
		background:url(../img/bg_benefits.jpg) repeat center;
		}
		.subscribe_text{
		line-height:1.5;
		padding-bottom:11px;
		}
			.subscribe_wrap input.btn{
			margin-bottom:0;
			}
			.subscribe_form input[type=text]{
			width:139px;
			}
		.foot_contacts a{
		text-transform:none;
		}
		.develop{
		margin: 18px auto;
		margin-bottom:0;
		width: 174px;
		}
		footer .social_links{
		padding-bottom:11px;
		}
			.search, .search input[type=text]{
			width:150px;
			}
	.benefits_item{
	margin-bottom:40px;
	}
	.categories_items a{
	width:50%;
	}
}
@media screen and (max-width: 500px) {
	.categories_items a{
	width:100%;
	}
}

