/* --------------------------reset-settings------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
	background:#fff;
	font-family:'Roboto', Arial;
}
h1,h2,h3,h4,h5,h6{color:inherit;font-weight:normal;}
h1{font-size:28px;}
h2{font-size:26px;}
h3{font-size:24px;}
h4{font-size:22px;}
h5{font-size:20px;}
h6{font-size:18px;}
.tac{
text-align:center;
}
/* --------------------------end-reset-settings------------------------- */
/*------------------header---------------*/
header{
position:relative;
}
	.head_top{
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	height: 32px;
	background-image: -webkit-linear-gradient(bottom, #f7f3f1 0%, #f2ece9 100%);
	background-image: linear-gradient(to top, #f7f3f1 0%, #f2ece9 100%);
	box-shadow: 0 1px 13px rgba(0, 0, 0, 0.2), inset 0 0 7px rgba(255, 255, 255, 0.35);
	}
		.lang{
		float:right;
		width:55px;
		padding:3px 0 0 0;
		}
			.lang_selected{
			width: 52px;
			height: 25px;
			opacity: 0.7;
			background-image: -webkit-linear-gradient(bottom, white 0%, white 100%);
			background-image: linear-gradient(to top, white 0%, white 100%);
			border-radius: 2px;
			font-family: 'Roboto';
			font-size: 12px;
			font-weight: 700;
			color: #c5413f;
			text-transform: uppercase;
			cursor:pointer;
			}
				.lang_selected span{
				padding:7px 0 0 6px;
				display:block;
				height:25px;
				-moz-box-sizing:border-box;
				box-sizing:border-box;
				background:url(../img/select_arrow.png) no-repeat right 7px center;
				}
			.lang_list{
			list-style-type:none;
			border-radius:2px;
			width:52px;
			display:none;
			position:absolute;
			z-index:10;
			border-top:1px solid #d8d2cf;
			}
				.lang_list li{
				height:25px;
				text-transform: uppercase;
				line-height:25px;
				font-size: 12px;
				font-weight: 700;
				color: #c5413f;
				background-image: -webkit-linear-gradient(bottom, white 0%, white 100%);
				background-image: linear-gradient(to top, white 0%, white 100%);
				border-bottom:1px solid #d8d2cf;
				}
					.lang_list li a{
					color: #bca699;
					padding:0 6px;
					}
		.social_links{
		float:right;
		font-size:0;
		padding:3px 4px 0 0;
		}
			.social_item{
			display:inline-block;
			width: 25px;
			vertical-align:top;
			height: 25px;
			opacity: 0.7;
			margin-left:4px;
			background-image: -webkit-linear-gradient(bottom, white 0%, white 100%);
			background-image: linear-gradient(to top, white 0%, white 100%);
			border-radius: 2px;
			box-shadow: 0 1px 0 rgba(127, 121, 117, 0.37);
			}
				.social_item:hover{
				opacity:1;
				}
					.social_item span{
					display:table-cell;
					width: 25px;
					text-align:center;
					height: 25px;
					vertical-align:middle;
					}
	.logo_wrap{
	margin:25px 0 0 0;
	text-align:center;
	}
		.logo {
		display:inline-block;
		width:236px;
		position:relative;
		}
			.slogan{
			background:url(../img/slogan_bg.png) no-repeat center;
			width:150px;
			height:41px;
			position:absolute;
			color: #afa6a2;
			font-family: 'Open Sans';
			font-size: 16px;
			font-style: italic;
			text-transform: uppercase;
			top: 12px;
			right: -151px;
			line-height: 22px;
			}
	.main_menu{
	position:relative;
	padding:30px 0 0 0;
	border-bottom:1px solid #e4dad3;
	}
		.main_menu ul{
		list-style-type:none;
		font-size:0;
		}
			.main_menu ul li{
			position:relative;
			display:inline-block;
			width:20%;
			}
				.main_menu ul li a{
				display:block;
				text-align:center;
				font-size: 16px;
				font-weight: 400;
				line-height: 46px;
				height:46px;
				text-transform: uppercase;
				color: #6a3d27;
				position:relative;
				}
					.main_menu ul li a:before{
					content:'';
					width: 1px;
					height: 30px;
					background:#eae4e1;
					position:absolute;
					left:0;
					top:50%;
					margin-top:-15px;
					}
						.main_menu ul li:first-child a:before{
						display:none;
						}
					.main_menu ul li a:hover{
					color: #8b1918;
					}
						.main_menu ul li a:hover:after{
						width:100%;
						content:'';
						background:#75160d;
						height: 7px;
						position:absolute;
						bottom: -8px;
						z-index: 2;
						left:0;
						}
			.menu_trigger{
			display:none;
			}
/*--------------------main---------------*/
#main{
position:relative;
overflow:hidden;
}
	.slider_wrap{
	margin:6px 0 0 0;
	height: 553px;
	position:relative;
	padding:0;
	z-index:1;
	background-color: #75160d;
	}
		.slider_wrap ul, .slider_wrap ul li{
		height: 553px;
		}
		.slider_img{
		position:absolute;
		right:0;
		top:0;
		}
		.slider_text{
		position:relative;
		z-index:2;
		padding:55px 0 0 0;
		width:410px;
		}
			.slider_text h5{
			color: white;
			font-size: 28px;
			font-weight: 700;
			padding-bottom:25px;
			text-transform: uppercase;
			}
			.slider_text p{
			padding-bottom:27px;
			width: 397px;
			opacity: 0.67;
			color: white;
			font-family: 'Scada';
			font-size: 18px;
			font-weight: 400;
			line-height: 24px;
			}
			.btn{
			width: 211px;
			height: 40px;
			border: 1px solid #a1665a;
			border-radius: 2px;
			color: #a2180b;
			font-family: 'Roboto';
			font-size: 14px;
			font-style: italic;
			line-height: 30px;
			margin-bottom:10px;
			text-transform: uppercase;
			}
				.btn:hover, .btn:active{
				color: inherit;
				}
			.btn.btn_full{
			font-weight:700;
			font-style:normal;
			background-color: #98302a;
			box-shadow: 0 2px 0 rgba(0, 0, 0, 0.37);
			}
			.btn.white_color{
			color:#fff;
			}
	.main_content{
	background:#fff;
	z-index:2;
	margin-top:-67px;
	position:relative;
	}
		.about_wrap{
		padding:25px 0 65px 0;
		}
			.title{
			text-align:center;
			color: #424242;
			font-family: 'PT Serif';
			font-size: 27px;
			line-height: 46px;
			text-transform: uppercase;
			font-weight: 400;
			padding-bottom:30px;
			}
				.title strong{
				font-weight: 700;
				}
			.title.white{
			color:#fff;
			}
			.about_wrap .title{
			font-size:30px;
			padding-top:47px;
			background:url(../img/title_item.png) no-repeat top center;
			}
			.about_wrap p{
			text-align:center;
			padding:0 35px;
			color: #424242;
			font-family: Scada;
			font-size: 18px;
			font-weight: 400;
			line-height: 24px;
			}
			.about_wrap .tac{
			padding:25px 0 0 0;
			}
	.category_wrap{
	padding-bottom:47px;
	}
		.category_block{
		margin-bottom:27px;
		font-size:0;
		overflow:hidden;
		}
		.category_box{
		display:inline-block;
		width: 378px;
		height: 231px;
		margin:1px;
		}
			.category_item{
			position:relative;
			overflow:hidden;
			width: 378px;
			height: 231px;
			}
				.category_item span{
				position:absolute;
				z-index:2;
				left:0;
				top:0;
				text-align:center;
				padding:0 8px;
				height: 20px;
				background-color: #99302b;
				color: white;
				font-family: 'PT Serif';
				font-size: 10px;
				font-weight: 600;
				line-height: 20px;
				text-transform: uppercase;
				}
				.category_item em{
				position:absolute;
				z-index:2;
				left:0;
				top:21px;
				text-align:center;
				padding:0 8px;
				height: 30px;
				background-color: #bf9e8a;
				color: white;
				font-family: Roboto;
				font-size: 18px;
				font-weight: 300;
				line-height: 30px;
				font-style:normal;
				}
	.benefits_wrap{
	background:url(../img/bg_benefits.jpg) no-repeat center ;
	height:395px;
	}
		.benefits_wrap .container{
		padding:45px 0 0 0;
		}
		.benefits_block{
		padding:10px 0 0 0;
		text-align:center;
		}
			.benefits_item figure{
			width: 179px;
			height: 179px;
			margin:0 auto;
			border-radius:50%;
			background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.11) 0%, rgba(240, 234, 226, 0.41) 100%);
			background-image: linear-gradient(to top, rgba(255, 255, 255, 0.11) 0%, rgba(240, 234, 226, 0.41) 100%);
			box-shadow: 0 10px 43px #791510;
			}
				.benefits_item figure span{
				width: 179px;
				height: 179px;
				display:table-cell;
				vertical-align:middle;
				text-align:center;
				}
			.benefits_item em{
			padding:18px 0 0 0;
			display:block;
			font-style:normal;
			color: white;
			font-family: Roboto;
			font-size: 14px;
			font-weight: 400;
			text-transform: uppercase;
			}
	.subscribe_wrap{
	padding:15px 0;
	text-align:center;
	background:#f2ede9;
	margin-bottom:35px;
	}
		.subscribe_text, .subscribe_form{
		display:inline-block;
		}
			.subscribe_text{
			color: #4f4448;
			font-size: 16px;
			line-height: 49px;
			text-transform: uppercase;
			font-weight: 400;
			padding:0 23px 0 0 ;
			}
				.subscribe_form input[type=text]{
				width: 293px;
				height: 40px;
				margin:0 6px 0 0;
				border:none;
				text-indent:10px;
				background-color: black;
				background-image: -webkit-linear-gradient(bottom, white 0%, #faf6f4 100%);
				background-image: linear-gradient(to top, white 0%, #faf6f4 100%);
				border-radius: 2px;
				box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.17);
				}
				input.btn{
				margin:0;
				background:none;
				width:138px;
				}
	.news_wrap{
	position:relative;
	}
		.news_item{
		overflow:hidden;
		}
			.news_img{
			float:left;
			padding:9px 15px 0 0;
			}
			.news_item section{
			overflow:hidden;
			}
				.news_date {
				font-family: 'Scada';
				font-weight: 400;
				line-height: 29px;
				color: #424242;
				font-size: 16px;
				}
				.news_item section a{
				width: 317px;
				height: 75px;
				font-family: 'Scada';
				font-weight: 400;
				line-height: 25px;
				text-decoration:underline;
				color: #991711;
				font-size: 18px;
				}
					.news_item section a:hover{
					text-decoration:none;
					}
/*------------------footer---------------*/
footer{
position:relative;
overflow:hidden;
margin:65px 0 0 0;
padding-bottom:18px;
background-image: -webkit-linear-gradient(bottom, white 0%, #efe8e4 100%);
background-image: linear-gradient(to top, white 0%, #efe8e4 100%);
}
	footer .main_menu{
	padding:20px 0 0 0;
	margin-bottom:26px;
	}
	.foot_bottom{
	overflow:hidden;
	}
		.foot_bottom  .social_links{
		text-align:center;
		vertical-align:top;
		float:none;
		width:100%;
		position:relative;
		bottom:4px;
		}
		.foot_contacts{
		text-align:center;
		line-height:25px;
		color: #4f4448;
		font-size: 14px;
		font-weight: 300;
		text-transform: uppercase;
		}
			.foot_contacts b{
			color: #4f4448;
			font-size: 18px;
			font-weight: 700;
			text-transform: uppercase;
			padding:0 25px 0 0 ;
			}
			.foot_contacts a{
			color: #991711;
			font-size: 16px;
			font-weight: 700;
			text-decoration: underline;
			}
		.develop {
		padding-left:63px;
		background:url(../img/zwebra.png) no-repeat left center;
		font-family: Roboto;
		font-size: 10px;
		font-weight: 400;
		line-height: 13px;
		color: #747172;
		display:block;
		}
			.develop span{
			color: #991711;
			display:block;
			}
.copyright{
padding:15px 0;
text-align:center;
opacity: 0.67;
color: #a09a96;
font-family: Roboto;
font-size: 13px;
font-weight: 400;
line-height: 13px;
background-image: -webkit-linear-gradient(bottom, #f7f3f1 0%, #f2ece9 100%);
background-image: linear-gradient(to top, #f7f3f1 0%, #f2ece9 100%);
}